<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}"
      lang="en">
<head>
  <meta charset="UTF-8">
  <title>Profile</title>
</head>
<body>
<div layout:fragment="content">
  <h1>Edit profile</h1>
  <form method="POST" th:action="@{/users/profile/update}" th:object="${userForm}" style="margin: 0 auto">
    <input type="hidden" name="id"
           th:value="${user.id}">
    <div class="row">

      <div class="col-auto mb-3">
        <label for="birthDate" class="form-label">Birth date</label>
        <input th:value="${user.birthDate}" placeholder="YYYY-MM-DD" name="birthDate" type="text" class="form-control" id="birthDate" required>
      </div>
    </div>

    <div class="row">
      <div class="col-auto mb-3">
        <label for="firstName" class="form-label">First name</label>
        <input th:value="${user.firstName}" name="firstName" type="text" class="form-control" id="firstName" required>
      </div>
      <div class="col-auto mb-3">
        <label for="lastName" class="form-label">Last name</label>
        <input th:value="${user.lastName}" name="lastName" type="text" class="form-control" id="lastName" required>
      </div>
    </div>
    <div class="row">
      <div class="col-auto mb-3">
        <label for="middleName" class="form-label">MiddleName</label>
        <input th:value="${user.middleName}" name="middleName" type="text" class="form-control" id="middleName" required>
      </div>
      <div class="col-auto mb-3">
        <label for="email" class="form-label">Email</label>
        <input th:value="${user.email}" name="email" type="text" class="form-control" id="email" required>
      </div>
    </div>
    <div class="row">
      <div class="col-auto mb-3">
        <label for="phone" class="form-label">Phone</label>
        <input th:value="${user.phone}" name="phone" type="text" class="form-control" id="phone" required>
      </div>
      <div class="col-auto mb-3">
        <label for="address" class="form-label">Address</label>
        <input th:value="${user.address}" name="address" type="text" class="form-control" id="address" required>
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
    <button type="button" class="btn btn-secondary" onclick="window.history.back()">Back</button>
  </form>
</div>
</body>
</html>
