<!--Страница авторизации-->
<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}"
      lang="en">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Entrance to the filmography</title>
</head>
<body>
<main class="content-wrapper m-auto">
  <div layout:fragment="content" class="container-fluid" style="margin-top: 4rem">
    <form method="POST" th:action="@{/login}">
      <div th:if="${param.error}">
        <div class="alert alert-danger">Wrong password</div>
      </div>
      <div class="form-group col-md-3 offset-md-4 m-auto">
        <p class="h2" style="text-align:center">Sign in</p>
      </div>
      <div class="form-group col-md-2 offset-md-4 m-auto">
        <input name="username" type="text" class="form-control" id="exampleInputUsername"
               placeholder="Login"
               aria-describedby="usernameHelp"/>
        <small id="usernameHelp" class="form-text text-muted">Enter login</small>
      </div>
      <div class="form-group col-md-2 offset-md-4 m-auto">
        <input name="password" type="password" class="form-control" id="exampleInputPassword"
               placeholder="Password">
        <small id="passwordHelp" class="form-text text-muted">Enter password</small>
      </div>
      <div class="form-group col-md-3 offset-md-4 m-auto">
        <button type="submit" class="btn btn-success offset-md-5">To come in</button>
      </div>
    </form>
    <a class=" offset-md-5" href="/users/registration">Register</a>
    <br>
    <a class=" offset-md-5" href="/users/remember-password">Forgot your password?</a>
  </div>
</main>
</body>
</html>